version: '3.4'

services:
  workshop.api:
    image: ${DOCKER_REGISTRY-}workshopapi
    build:
      context: .
      dockerfile: Workshop.API/Dockerfile
    command: dotnet run
    ports:
      - '59088:443'
    expose:
      - 443
    
  sqlserver:
     image: mcr.microsoft.com/mssql/server:2019-latest
     hostname: 'workshop_sqlserver'
     environment:
        ACCEPT_EULA: 'Y'
        SA_PASSWORD: "admin_pass123"
     ports:
        - '11433:1433'
     expose:
        - 1433 

