<div class="card-body text-center bg-dark">
    <h4 class="card-title m-b-0 text-light">Atas</h4>
</div>

<div class="row d-flex justify-content-center" style="padding-left: 0% !important;">

    <div class="col-lg-6">  
       <div class="card">
        <div class="row" style="margin-top: 2%;justify-content: space-between;margin-right: 0% !important;">
            <div class="col-4">
                <p> 1000 Atas encontradas</p>
            </div>
            <div class="col-4 text-end">
                <i class="bi bi-search"></i>
            </div>

        
        </div>
           <ul class="list-style-none">
               <li class="d-flex no-block card-body justify-content-between">
                   <!-- <i class="fa fa-check-circle w-30px m-t-5"></i> -->
                   <div>
                       <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Version 2.5 released</a>
                       <span class="text-muted">A new version 2.5 has been released. </span>
                   </div>
                   <div class="ml-auto">
                       <div class="tetx-right">
                           <h5 class="text-muted m-b-0 text-center">26</h5>
                           <span class="text-muted font-16">FEB</span>
                       </div>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top justify-content-between">
                   <!-- <i class="fa fa-gift w-30px m-t-5"></i> -->
                   <div>
                       <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Congratulation to AAA For new investment</a>
                       <span class="text-muted">AAA has invested $2M in MMM. we are happy to working forward with AAA.</span>
                   </div>
                   <div class="ml-auto">
                       <div class="tetx-right">
                           <h5 class="text-muted m-b-0 text-center">11</h5>
                           <span class="text-muted font-16">MAR</span>
                       </div>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top justify-content-between">
                   <!-- <i class="fa fa-plus w-30px m-t-5"></i> -->
                   <div>
                       <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Hiring Android Developers</a>
                       <span class="text-muted">We are hiring android developers to expend our mobile development team.</span>
                   </div>
                   <div class="ml-auto">
                       <div class="tetx-right">
                           <h5 class="text-muted m-b-0 text-center">19</h5>
                           <span class="text-muted font-16">APR</span>
                       </div>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top justify-content-between">
                   <!-- <i class="fa fa-leaf w-30px m-t-5"></i> -->
                   <div>
                       <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Anounced New CEO</a>
                       <span class="text-muted">We announced John kendey as new CEO of the company.</span>
                   </div>
                   <div class="ml-auto">
                       <div class="tetx-right">
                           <h5 class="text-muted m-b-0 text-center">20</h5>
                           <span class="text-muted font-16">JUN</span>
                       </div>
                   </div>
               </li>
               <li class="d-flex no-block card-body border-top justify-content-between">
                   <!-- <i class="fa fa-question-circle w-30px m-t-5"></i> -->
                   <div>
                       <a href="#" class="m-b-0 font-medium p-0" data-abc="true">New Guidelines to Employees</a>
                       <span class="text-muted">We have realeased new guidelines to all employees</span>
                   </div>
                   <div class="ml-auto">
                       <div class="tetx-right">
                           <h5 class="text-muted m-b-0 text-center">15</h5>
                           <span class="text-muted font-16">AUG</span>
                       </div>
                   </div>
               </li>
           </ul>
       </div>

   </div>
   </div>
   