<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style=" height: 100vh !important;">
    <a href="atas" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">FAST Soluções</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a  class="nav-link text-white"  routerLink="dashboards" routerLinkActive="active" >
          <svg class="bi me-2" width="16" height="16"></svg>
          Dashboards
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="atas" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"></svg>
          Atas
        </a>
      </li>
    </ul>
    <hr>

  </div>