<div class="card-body text-center bg-dark">
    <h4 class="card-title m-b-0 text-light">Dashboards</h4>
</div>
<div class="row text-center mt-3">
    <h5>Na página de Dashboards você irá poder visualizar em graficos os dados relaciodos aos workshops.</h5>
</div>
<div class="row p-2" >
    <div class="col-lg-6 text-center mt-2">
        <label>Quantidade de Workshops que cada colaborador participou</label>
        <app-barplot [chartLabels]="colaboradores" [chartData]="quantidadeWorksshops" />

    </div>
    <div class="col-lg-6 text-center mt-2">
        <label class="text-center">Quantidade de colaboradores por Workshops</label>
        <app-pizzaplot [chartData]="quantidadeColaboradores" [chartLabels]="workshops" />
    </div>
</div>
